.movie-info {
  display: flex;
}
.movie-poster {
  display: block;
  width: 50%;
  object-fit: contain;
}
.info-list {
  list-style: none;
}
.goBack-btn {
  display: block;
  width: 100px;
  height: 25px;
  margin: 20px;
  background-color: paleturquoise;
  border: 2px solid powderblue;
  border-radius: 4px;
}
